In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score
from sklearn.multiclass import OneVsRestClassifier
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('vitamin.csv')

In [3]:
df.tail(5)

    gender  age  weight  height  vitamin_A  vitamin_C  vitamin_D
95       0   55      64     128          0          1          0
96       0   54      72     135          0          1          0
97       0   82      70     150          1          1          1
98       0   82      70     150          1          1          1
99       0   59      64     107          0          1          0

In [4]:
df.columns

Index(['gender', 'age', 'weight', 'height', 'vitamin_A', 'vitamin_C',
       'vitamin_D'],
      dtype='object')

In [5]:
X = df[['gender', 'age', 'weight', 'height']]
y = df[['vitamin_A', 'vitamin_C', 'vitamin_D']]

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=True)

In [7]:
LR_pipeline = Pipeline([('clf', OneVsRestClassifier(LogisticRegression(solver='sag'), n_jobs=-1))])

In [8]:
labels = ['vitamin_A', 'vitamin_C', 'vitamin_D']

In [9]:
acc_classifier = []

for label in labels:
    LR_pipeline.fit(X_train, y_train[label])
    prediction = LR_pipeline.predict(X_test)
    acc = accuracy_score(y_test[label], prediction)
    acc_classifier.append(acc)
    
df_ = pd.DataFrame({'Label': labels, 'Accuracy': acc_classifier})
df_

       Label  Accuracy
0  vitamin_A      0.75
1  vitamin_C      0.65
2  vitamin_D      1.00

In [10]:
# try model

In [11]:
data_test = [[0, 82, 70, 150]]

In [12]:
for label in labels:
    y_predict = LR_pipeline.predict(data_test)
    print(y_predict)

[0]
[0]
[0]